{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Investor Page
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <p>Current Period {{ player.round_number }}</p>
            </div>
        </div>
        <div class="row">
            <p>As a Bidder you can now bid for each asset. The highest bidder will pay their bid and receive the true value of the asset.</p>
            <p>This period, the asset's true value will be either 200 or 1600.</p>
            <p>The asset's true value may be less than the reported value.</p>
        </div>
        <div class="row overflow-auto">
                <div class="col">
                    <div class="row">
                        <p>Reported Asset Value</p>
                    </div>
                    <div class="row">
                        <p>Verification Report</p>
                    </div>
                    <div class="row">
                        <p>Verification Service</p>
                    </div>
                    <!-- <div class="row">
                        <p>How much do you want to bid?</p>
                    </div> -->
                </div>

                {% for project_info in current_projects %}
                    <div class="col">
                        <!-- project index (1-indexed) -->
                        <div class="row">
                            <p>{{ forloop.counter }}</p>
                        </div>
                        <!-- verification report and verification service -->
                        {% for info in project_info %}
                            <div class="row">
                                <p>{{ info }}</p>
                            </div>
                        {% endfor %}
                        <input class="form-control bid" type=text placeholder="0">
                    </div>
                {% endfor %}
        </div>
        <div class="row">
            <h3>Market history through previous period:</h3>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Period</th>
                    <th scope="col">True Value</th>
                    <th scope="col">Reported Value</th>
                    <th scope="col">Verification Report</th>
                    <th scope="col">Verification Service</th>
                    <th scope="col">Verification Accuracy</th>
                    <th scope="col">High Bid</th>
                    <th scope="col">High Bidder Earned</th>
                  </tr>
                </thead>
                <tbody>
                    {% for history in market_history %}
                    <tr>
                        {% for value in history %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <button onclick="serializeBids()" class="btn btn-primary btn-large"> Next </button>

    <input type="hidden" name="project_bids" />
    <script>
        function serializeBids() {
            bidInputs = document.getElementsByClassName('bid');
            result = ""
            
            for (let i=0; i < bidInputs.length; i++) {
                let bidValue = 0;
                // console.log(bidInputs[i].value)
                if (bidInputs[i].value != "") {
                    bidValue = bidInputs[i].value;
                }
                result += bidValue + ',';
            }

            // remove trailing commas
            while (result.charAt( result.length-1 ) == ",") {
                result = result.slice(0, -1)
            }
            document.getElementsByName("project_bids")[0].value = result;
        }
    </script>

{% endblock %}
