{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Manager Page
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <p>Current Period {{ player.round_number }}</p>
            </div>
        </div>
        <div class="row">
            <p>You will begin by choosing a verification service and project, then finally you will learn the true change in your asset value based on your project choice and choose which you want to report.</p>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="row">
                    <h3>Verification Service Choice</h3>
                    <p>You must select a verification service.</p>
                    <p>Verification service costs 50.</p>
                </div>
                {% block audit_choice %}{% endblock %}
            </div>
            <div class="col-sm">
                <div class="col-sm">
                    <div class="row">
                        <h3>Project Choice</h3>
                        <p>Your asset has a current value of 600.</p>
                        <p>You must select a project. Your project choice will influence the change in your asset value</p>
                        <!-- TODO: dynamic values based on market type -->
                        <p>Project A costs 50 and has a 0.40 chance of changing your asset value by -400 and 0.60 chance of changing your asset value by 1000</p>
                        <p>Project B costs 10 and will change your asset value by -400</p>
                    </div>
                    {% block project_choice %}{% endblock %}
                </div>
            </div>
            <div class="col-sm">
                {% block reported_value %}{% endblock %}
            </div>
        </div>
        <div class="row">
            <h3>Your Prior Choices:</h3>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Period</th>
                    <th scope="col">Your Project Choice</th>
                    <th scope="col">Your True Asset</th>
                    <th scope="col">Your Reported Asset Value</th>
                    <th scope="col">Verification Service</th>
                    <th scope="col">Verification Report</th>
                    <th scope="col">High Bid for Your Asset</th>
                    <th scope="col">Earnings</th>
                  </tr>
                </thead>
                <tbody>
                    {% for choice in previous_choices %}
                    <tr>
                        {% for value in choice %}
                            <td>value</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
              </table>

        </div>
        <div class="row">
            <h3>Market history through previous period:</h3>
        </div>
    </div>

{% endblock %}
